*{
    box-sizing: border-box;
    outline: none;
    overflow-x: hidden;
    list-style: none;
    margin:0;
    padding: 0;
    text-decoration: none;
    border: none;
    background: none;
}



:root{
    --text-color-b:#2b2929f6;
    --font-Montserrat:'Montserrat', sans-serif;
    --font-Roboto:'Roboto', sans-serif;
    --color-btn:#165dfc;
    --color-white:#fff;
}

html{
    width:100vw;
    height:100vh;
    font-size: 62.2%;
}
body{
    width:100%;
    height:100%;
    font-family: var(--font-Roboto);
}

.wrapper{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header  ul{
display: flex;
}

.header ul > li {
    padding: 0 1rem;

}

.header ul  li >a{
    font-family: var(--font-Montserrat);
    color:var(--text-color-b);
    font-size: 1.5rem;
    cursor:pointer;
}

.header  .sign > button {
    margin:0 1rem;
    font-size: 1.2rem;
    cursor:pointer;
    transition: all .6s ease-in-out;
}

.header  .sign > button:nth-child(2){
    background-color:var(--color-btn);
    color:var(--color-white);
    border-radius:0.5rem ;
    padding:1rem;
    
}

.header  .sign > button:nth-child(2):hover{
    filter: brightness(0.9);
}
.header  .sign > button:nth-child(1):hover{
    text-decoration: underline;
}